<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="cotainer">
        <div class="row p-0 justify-content-md-center m-0">
            <div class="col-md-5 col-12 p-0 vh-100 w-100">

                <!-- header -->
                <div class="header">
                    <img src="../static/images/fontlogo.png" alt="홈으로가기" width="230vw">
                </div>

                <!-- body -->
                <div class="login_email input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">이메일</span>
                    <input type="text" class="form-control" placeholder="Email" aria-label="email"
                        aria-describedby="basic-addon1">
                </div>

                <div class="login_password input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">비밀번호</span>
                    <input type="password" class="form-control" placeholder="Password" aria-label="password"
                        aria-describedby="basic-addon1">

                </div>
            </div>
        </div>
    </div>
</body>

</html>