/* @import "reset.css"; */

.header { 
    width: auto;
    height: 8vh;
    background-color: #fdebd8;
    text-align: center;
    line-height: 8vh;  /* vertical-align 때문에 필요함 */
}

.header img {
    vertical-align: middle;
    width: auto;
    height: 65%;

}

.input-group{
    width: 80vw;
    height: 5vh;
    margin: auto;
}

.login_email{
    margin-top: 30vh
}