h1 {
    text-align : right;
    color: orange;
    margin-top: 100px;
    margin-right: 80px;
    font-weight: 700;
    font-size: 90px;
}

.btn1{
    position: absolute;
    top:50%;
    right: 30%;
}

.btn2{
    position: absolute;
    top:50%;
    right: 38%;
}

.file_bar{
    position: absolute;
    top:40%;
    right: 18%;
    width : 500px;
    margin-right: 80px;
}

body {
    margin: 0px;
    height: 100vh;
    background: linear-gradient(90deg, orange 30%, #ffffff 30%);
}
