/* .parent {
    width: 300px;
    height: 200px;
    background-color: red;
}

.child {
    width: 100px;
    height: inherit;
    background-color: inherit;
    position: fixed;
    top: 100px;
    right: 10px;
} */

div {
    color: red !important;
  }
  
  #color_yellow {
    color : yellow;
  }
  
  .color_green {
    color : green;
  }
  
  div {
    color : blue;
  }
  
  * {
    color : darkblue;
  }
  
  body {
    color : violet;
  }
  